<h1 align = "center">Nova Lista</h1>

<div class="text-center">
<%= form_for(@collection) do |f| %>
    <div class="field">
        <%= f.label :Nome %>
        <%= f.text_field :name %>

        <%= f.label :Pública %>
        <%= f.check_box :is_public %> <br /><br />
    </div>
    
    <div class='form-group '>
        <input id= "input" type="text"  placeholder="Adicionar tarefa" name="tasks[]" >
    </div>
    
    <footer class="fixed-bottom">
        <div class="container">
            <p> <%= f.submit class:"btn btn-default" %> </p>
        </div>
    </footer>

  <% end %>
    <br><button type="button" class="btn btn-default" id="newTask" >Nova Tarefa</button>
</div>


<script>
  $(document).ready(function() {

    $( "#newTask" ).click(function() {
            $('<input>').attr('type','text').attr('name','tasks[]').appendTo("form"); 
            $('<br>').appendTo('form');
        return false;
    });
});  
</script>

