<div class="table-responsive">    
    <table class="table table-hover">
    <thead >
        <tr> 
            <th scope="col"><h1><%= @collection.name %></h1> </t>
                <% if @collection.favorites.any? {|f| f.user_id == current_user.id } %>
                    <%= link_to 'Tirar dos favoritos', favorite_path(id: @collection.id), method: :delete, class: 'btn btn-outline-danger' %>
                <% else %>
                    <%= link_to 'Favoritar', favorites_path(id: @collection.id), method: :post, class: 'btn btn-outline-success' %>
                <%end %>      
            </th>
       </tr>
    </thead>
    <tbody>
    <% @collection.tasks.each do |task| %>  
            <tr>
                <th scope="row"><%= task.name %></th>
                <% if current_user.id == @collection.user.id %>
                    <th scope="row"><%= link_to 'Apagar', "/collections/#{@collection.id}/tasks/#{task.id}", method: :delete %></th>
                <% end %>
            </tr>
        <% end %> 
    </tbody>
    </table>
</div>


<footer class="fixed-bottom">

</footer>


